.postsList {
  width: 100%;
}

.post {
  background-color: #444;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postHeader,
.postBody {
  display: flex;
  align-items: center;
}

.postContent {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expanded .postContent {
  white-space: normal;
}

.star {
  font-size: 1.5rem;
  color: yellow;
  margin-right: 0.2rem;
}

.postDate {
  padding-left: 1rem; /* Ensure some spacing between content and date */
}

.withmargin {
  margin-left: 5px;
}
