/* NowPlayingMovies.module.css */
.container {
  max-width: 1500px; /* 전체 컨테이너의 최대 너비를 설정 */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 버튼들이 양 끝에 위치하도록 설정 */
  position: relative; /* 포스터와 버튼이 배경 위에 위치하도록 설정 */
  overflow: hidden; /* 슬라이드 애니메이션이 컨테이너를 벗어나지 않도록 설정 */
  padding: 20px 0; /* 위아래 여백 추가 */
}

.sliderWrapper {
  overflow: hidden;
  width: calc((200px + 20px * 2) * 5); /* 포스터 5개의 너비와 간격에 맞게 고정 */
  display: flex;
  justify-content: center; /* 포스터들이 중앙에 위치하도록 설정 */
}

.movieItems {
  display: flex;
  transition: transform 0.5s ease; /* 슬라이드 애니메이션 */
}

.movieItem {
  box-sizing: border-box;
  flex: 0 0 200px; /* 각 포스터의 너비를 200px로 고정 */
  margin: 20px;
  margin-top: 50px; /* 포스터 위아래 간격 추가 */
  margin-bottom: 50px; /* 포스터 위아래 간격 추가 */
}

.movieItem:last-child {
  margin-right: 0; /* 마지막 포스터는 마진 제거 */
}

.movieImg {
  width: 100%; /* 부모 요소의 너비에 맞게 조정 */
  height: 300px; /* 고정된 높이 */
  object-fit: cover; /* 이미지를 셀에 맞게 자름 */
  transition: transform 0.2s ease;
}

.movieImg:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.navButton {
  padding: 10px;
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.navButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}
