/* app/page.module.css */
.main {
  display: flex;
  height: 100vh;
  background-color: #272727;
  background-image: url("/toto.png"); /* 이미지 경로 설정 */
  background-size: cover;
  background-position: center;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 80px); /* 사이드바 넓이 제외 */
  margin: auto;
}

.nav {
  width: 80px;
  height: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}

.nav ul li:hover {
  color: #00bfa6;
}

.nav ul li.active {
  color: #00bfa6;
}

.nav ul li:first-child {
  margin-top: 40px;
}

.nav ul li svg {
  margin-right: 10px;
}

.nav svg {
  width: 30px;
  height: 30px;
  fill: #00bfa6;
  margin-bottom: 20px;
}
