/* app/login/Login.module.css */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #272727;
  background-image: url("/toto.png");
  background-size: cover;
  background-position: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 30px;
  border-radius: 10px;
  align-items: center;
}

.formContainer h2 {
  color: white;
}

.formContainer input {
  width: 300px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  color: white;
  border-radius: 4px;
}

.formContainer input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.formContainer button {
  padding: 10px;
  background-color: #b22222;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.formContainer button:hover {
  background-color: #8b0000;
}

.socialLogin {
  text-align: center;
  color: white;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icons img {
  width: 50px;
  height: 50px;
}

.formContainer a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
