.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #333;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.starRating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.star {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.starFilled {
  color: yellow;
}

.starHalf {
  color: yellow;
}

.textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #444;
  color: white;
}

.fileUpload {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fileButton {
  background: #5fbebb;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.fileName {
  color: #5fbebb;
}

.button {
  background: #5fbebb;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}
