.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  /*background-color: #1e1e1e;*/
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  padding: 20px;
  gap: 20px;
  overflow: hidden;
  margin-left: 60px;
}

.contentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
}

.section {
  /*내가남긴리뷰 좋아요 누른 영화 부분 색상*/
  background-color: #2c2c2c;
  /*background-color: var(--background);*/

  border-radius: 10px;
  padding: 20px;
  flex: 1;
  width: 1260px;  /* 원하는 너비로 조정 */
  height: 400px; /* 원하는 높이로 조정 */

  /* 내용이 넘칠 경우 스크롤바 표시 */
  overflow-y: auto;
}

.postListWrapper {
  flex-grow: 1;
  overflow: hidden; /* 내부 스크롤을 위해 필요 */
}

.sectionTitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}