.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #333;
  padding: 2rem;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  color: #fff;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.content {
  color: #fff;
}

.header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.poster {
  width: 200px;
  height: auto;
}

.movieInfo {
  flex: 1;
}

.likeButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.liked {
  background-color: #f44336;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #fff;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  transition: height 0.3s ease, padding 0.3s ease;
}

.input:focus,
.textarea:focus {
  height: 2.5rem; /* Adjust the height for the input */
  padding: 1rem;
}

.textarea {
  height: 2rem; /* Initial height for the textarea */
  resize: none;
}

.textarea:focus {
  height: 10rem; /* Expanded height for the textarea when focused */
}

.button {
  padding: 0.5rem;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
}

.starRating {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.star {
  font-size: 2rem;
  cursor: pointer;
  color: yellow;
}

.starFilled,
.starHalf {
  color: yellow;
}

.fileUpload {
  padding: 0.5rem;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}
